* {box-sizing: border-box}
/* Full-width input fields */

#emailID, #telefoneID{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
#emailID:focus, #telefoneID:focus{
  background-color: #ddd;
  outline: none;
}

/* Float cancel and signup buttons and add an equal width */
.signup {
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
  background: rgba(71, 78, 93, 0.9);
  /* background: transparent; */
  /* position: absolute; */
  z-index: 9; /* .modal[zIndex] - 1 */
  bottom: 0;
  right: 0;
}

/* Modal Content/Box */
.modal-content {
  position: center;
  scroll-behavior: smooth;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: fit-content;  
  height: 430px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #111;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
  text-shadow: 0 0 10px #000;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}
