html{height: 100%; overflow: hidden; position: relative;}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.menu{
    list-style-type: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: rgba(48,63,159, 0.8);
    position: fixed;
    top: 0;
    width: 100%;    
    box-shadow: 5px 0px 5px rgb(48,63,159);
}

.menu li{
    display: inline;
    float: left;
    cursor: pointer;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li:hover{
    background-color: rgba(197,202,233, 0.8);
}

#cadastrar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}
